body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #A6D6D6;
}

.App {
  padding: 20px;
  text-align: center;
}

header {
  margin-bottom: 20px;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input, select {
  padding: 10px;
  font-size: 16px;
  width: 250px;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.status {
  font-size: 18px;
  color: #555;
}

.status.error {
  color: red;
}

.h1{
  color: #006A71;
  background-color: #F2EFE7;
  border: 2px solid black;
  border-radius: 10px;
  height: 50px;
  padding-top: 5px;
  margin-top: 0;
}